* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 70px;
}

.container {
    background-color: grey;
    padding: 30px;
    margin-bottom: 50px;
}

.box {
    width: 300px;
    height: 200px;
}

.red {
    background-color: red;
    float: left;
}

.white {
    background-color: white;
    float: right;
}

.clearfix {
    clear:both;
}

.wrap {
    padding: 50px 0px 0px 0px;
    float: right;
}

.right {
    width: 200px;
    height: 100px;
    margin-left: 50px;
    float:left;
}

.margin {
    margin-left: 0;
}

.one {
    margin-right: 50px;
}

.third {
    width: 300px;
    height: 200px;
    margin-left: 0;
}

.fourth {
    height: 200px;
}

.wrapper {
    padding: 0;
}

.container.padding {
    padding: 30px 30px 50px 30px;
}

.center {
    width: 1150px;
    margin: 0 auto;
}

.giant {
    width: 600px;
    height: 600px;
}

.wider {
    width: 500px;
    float: none;
}

.block {
    float: left;
    padding: 0px 0px 0px 50px;
}

.push {
    margin-bottom: 100px;
}

.float {
    float: right;
}

.big {
    width: 500px;
    height: 500px;
}

.wide {
    width: 400px;
}

.bottom {
    padding: 30px 100px 100px 30px;
    margin-bottom: 0;
}